{{>header}}

    {{> navbar}}
    
        <div class="row">
            <div class="col-8">
                <h1>Swablu</h1>
                <p>Swablu tiene unas alas ligeras y esponjosas que parecen nubes de algodón. A este Pokémon no le asusta la gente. De hecho, puede llegar a posarse en la cabeza de alguien y servirle de gorro sedoso. </p>
            </div>
            <div class="col-4">
                <img src="assets/img/images.png" class="img-thumbnail">
            </div>

        </div>
{{> footer}}    